.media-file-size {
	position: relative;
	box-shadow: inset 0 0 15px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 5%);
	background: #f0f0f1;
	cursor: pointer;
	width: 120px !important;
	padding: 5px;
}

	.media-file-size:hover {
		-webkit-box-shadow: 0px 0px 3px 2px rgba(204,127,59,1);
		-moz-box-shadow: 0px 0px 3px 2px rgba(204,127,59,1);
		box-shadow: 0px 0px 3px 2px rgba(204,127,59,1);
	}

.image-size {
	height: auto;
	width: 120px;
}

#listImages li label span {
	width: 25px;
	height: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(163,163,163,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(163,163,163,1);
	box-shadow: 0px 0px 2px 1px rgba(163,163,163,1);
}

#listImages li .checkbox > input {
}

.item-show {
	display: inherit !important;
}

.item-hide {
	display: none !important;
}
